---
{{ $prefix := "torch-spyre-cicd-gha-test" }}
{{ $secret_name := printf "%s-%s" $prefix .Release.Name }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: '{{ $prefix }}-{{ .Release.Name }}'
  labels:
    app: '{{ $prefix }}-{{ .Release.Name }}'
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      app: '{{ $prefix }}-{{ .Release.Name }}'
  template:
    metadata:
      labels:
        app: '{{ $prefix }}-{{ .Release.Name }}'
    spec:
      schedulerName: '{{ .Values.deployment.schedulerName }}'
      imagePullSecrets:
      {{- range $s := .Values.deployment.imagePullSecrets }}
      - name: {{ $s }}
      {{- end }}
      containers:
      - name: mycontainer
        image: '{{ .Values.deployment.image }}'
        imagePullPolicy: Always
        resources:
        {{- .Values.deployment.resources | toYaml | nindent 10 }}
        terminationMessagePath: /dev/termination-log
        command:
        {{- .Values.deployment.command | toYaml | nindent 8 }}
        env:
        {{- range $k, $v := .Values.deployment.env }}
        - name: {{ $k | quote }}
          value: {{ $v | quote }}
        {{- end }}
        {{- range $k := .Values.deployment.envFromSecret }}
        - name: '{{ $k }}'
          valueFrom:
            secretKeyRef:
              name: '{{ $secret_name }}'
              key: '{{ $k }}'
        {{- end }}
