secret:
  data:
    GHA_REGISTER_RUNNER_TOKEN: 'yyyy'
deployment:
  replicas: 4
  # image: us.icr.io/cil15-shared-registry/mytestghrunner:v4
  image: us.icr.io/cil15-shared-registry/aiu-gha-runner:v1
  imagePullSecrets:
  - all-icr-io-cil15-2
  schedulerName: spyre-scheduler
  resources:
    limits:
      ibm.com/spyre_pf: '1'
    requests:
      ibm.com/spyre_pf: '1'
  env:
    GHA_REGISTER_URL: 'https://github.com/haribala-test-org'
    GHA_REGISTER_RUNNER_GROUP: 'torch-spyre'
  envFromSecret:
  - GHA_REGISTER_RUNNER_TOKEN
  command:
  - bash
  - -c
  - |
    # echo 'sleeping so the user can exec in...'
    # tail -f /dev/null
    echo 'configuring the runner'
    ./config.sh --unattended \
      --url "$GHA_REGISTER_URL" \
      --token "$GHA_REGISTER_RUNNER_TOKEN" \
      --runnergroup "$GHA_REGISTER_RUNNER_GROUP" \
      --replace
    echo 'starting the runner'
    ./run.sh
