name: tests

on:
  push:
    branches: [main]
    tags: ['*']
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read
  checks: write

jobs:
  test:
    name: Run Spyre unit tests
    # runs-on: self-hosted
    # runs-on: arc-runner-set
    # runs-on: arc-runner-set-my-image
    runs-on: arc-runner-set-latest-image
    timeout-minutes: 30
    env:
      CI: ''
      PATH: /dev/shm/torch-spyre-venv/bin:/dev/shm/.local/bin:/dev/shm/bin:/opt/rh/gcc-toolset-14/root/usr/bin:/usr/share/Modules/bin:/opt/ibm/spyre/tvm/bin:/opt/ibm/spyre/runtime/bin:/opt/ibm/spyre/deeptools/bin:/opt/ibm/spyre/senlib/bin:/opt/ibm/spyre/sentinyexec/bin:/usr/lib64/ccache:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
      LD_LIBRARY_PATH: /opt/rh/gcc-toolset-14/root/usr/lib64:/opt/rh/gcc-toolset-14/root/usr/lib:/opt/ibm/spyre/tvm/lib:/opt/ibm/spyre/runtime/lib:/opt/ibm/spyre/deeptools/lib:/opt/ibm/spyre/senlib/lib:/opt/ibm/spyre/sentinyexec/lib:/opt/ibm/spyre/runtime/lib:/opt/ibm/spyre/deeptools/lib:/opt/ibm/spyre/senlib/lib:/opt/ibm/spyre/sentinyexec/lib
      KUBERNETES_SERVICE_PORT_HTTPS: 443
      AIU_TIER_1_SET_0_SIZE: 1
      KUBERNETES_SERVICE_PORT: 443
      AIUCARDMGMT_INSTALL_DIR: /opt/ibm/spyre/aiucardmgmt
      DEEPTOOLS_PATH: /opt/ibm/spyre/deeptools/share
      PKG_CONFIG_PATH: /opt/rh/gcc-toolset-14/root/usr/lib64/pkgconfig
      HOSTNAME: mk-spyre-tests
      NSS_SDB_USE_CACHE: no
      FLEX_COMPUTE: SENTIENT
      LIB_VERSION_FILE: /opt/ibm/spyre/components.txt
      AIU_SETUP_MULTI_AIU: 1
      PCP_DIR: /opt/rh/gcc-toolset-14/root
      TVM_INSTALL_DIR: /opt/ibm/spyre/tvm
      RUNTIME_INSTALL_DIR: /opt/ibm/spyre/runtime
      PWD: /dev/shm
      SEN_PROJECT_PACKAGE: /project_package
      MODULESHOME: /usr/share/Modules
      MANPATH: '/opt/rh/gcc-toolset-14/root/usr/share/man:/usr/share/man:'
      FLEX_DEVICE: PF
      container: oci
      AIU_TOPO_FILE: /etc/ibm/spyre/topo.json
      __MODULES_SHARE_MANPATH: :1
      LDFLAGS: -L/usr/local/lib
      TOKENIZERS_PARALLELISM: false
      HOME: /dev/shm
      LANG: C.utf8
      # AIU_WORLD_RANK_0: 0000:aa:00.0
      KUBERNETES_PORT_443_TCP: tcp://172.30.0.1:443
      VIRTUAL_ENV: /dev/shm/torch-spyre-venv
      AIU_ENV_FILE: /tmp/etc/ibm/spyre/aiu_env.sh
      pybind11_DIR: /usr/local/lib/python3.12/site-packages/pybind11
      # PCIDEVICE_IBM_COM_AIU_PF: 0000:aa:00.0
      AIU_TIER_0_NUM_SETS: 1
      DEEPTOOLS_INSTALL_DIR: /opt/ibm/spyre/deeptools
      INFOPATH: /opt/rh/gcc-toolset-14/root/usr/share/info
      HF_HOME: /dev/shm
      SENTINYEXEC_INSTALL_DIR: /opt/ibm/spyre/sentinyexec
      PYTHONPATH: /opt/ibm/spyre/runtime/lib:/opt/ibm/spyre/senlib/lib:/opt/ibm/spyre/runtime/lib:/opt/ibm/spyre/runtime/lib:/opt/ibm/spyre/runtime/lib
      TERM: xterm
      AIU_AUTOGEN_SENLIB_CONFIG_FILE: /tmp/etc/ibm/spyre/senlib_config-autogen.json
      LESSOPEN: '||/usr/bin/lesspipe.sh %s'
      SENLIB_INSTALL_DIR: /opt/ibm/spyre/senlib
      MLSERVER_TVM_INSTALL_DIR: /opt/ibm/spyre/mlserver-tvm
      SENTIENT_BASE_INSTALL_DIR: /opt/ibm/spyre
      MODULES_RUN_QUARANTINE: LD_LIBRARY_PATH LD_PRELOAD
      SHLVL: 1
      KUBERNETES_PORT_443_TCP_PROTO: tcp
      KUBERNETES_PORT_443_TCP_ADDR: 172.30.0.1
      _IBM_AIU_SETUP: 1
      GITHUB_REPO_URL: https://github.com/kmehant/torch-spyre
      RUNTIME_FULL_INSTALL_DIR: /opt/ibm/spyre/runtime
      __MODULES_LMINIT: module use --append /usr/share/Modules/modulefiles:module use --append /etc/modulefiles:module use --append /usr/share/modulefiles
      # AIU_TIER_0_SET_0_RANK_0: 0000:aa:00.0
      OMP_NUM_THREADS: 192
      DEBUGINFOD_IMA_CERT_PATH: '/etc/keys/ima:'
      AIU_TIER_1_NUM_SETS: 1
      KUBERNETES_SERVICE_HOST: 172.30.0.1
      which_declare: declare -f
      KUBERNETES_PORT: tcp://172.30.0.1:443
      KUBERNETES_PORT_443_TCP_PORT: 443
      SENDNN_DIR: /opt/ibm/spyre/runtime
      SENDNN_INSTALL_DIR: /opt/ibm/spyre/runtime
      MODULEPATH: /etc/scl/modulefiles:/usr/share/Modules/modulefiles:/etc/modulefiles:/usr/share/modulefiles
      SEN_COMMON_HEADERS: /opt/ibm/spyre/runtime/include
      AIU_WORLD_SIZE: 1
      # AIU_TIER_1_SET_0_RANK_0: 0000:aa:00.0
      AIU_TIER_0_SET_0_SIZE: 1
      MODULES_CMD: /usr/share/Modules/libexec/modulecmd.tcl

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      # - uses: actions/setup-python@v6
      #   with:
      #     python-version: 3.12.12
      - name: get some info
        run: |
          echo 'gather info start'
          pwd
          ls -la
          whoami
          id
          echo "PATH $PATH"
          echo "HOME $HOME"
          python3 --version
          python3 -c 'import sys; print(sys.path)'
          echo 'gather info end'
      - name: check path
        run: echo $PATH
      - name: Install package with test dependencies
        run: pip install -e . --no-deps --no-build-isolation -vvv --verbose
      - name: Run unit tests
        run: pytest tests/ -vvv -s
