name: tests

on:
  push:
    branches: [main]
    tags: ['*']
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  test:
    name: Run Spyre unit tests (Python ${{ matrix.python-version }})
    runs-on: self-hosted
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.11', '3.12']

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install package with test dependencies
        run: pip install -e ".[test]"

      - name: Run unit tests
        run: pytest tests/ -v
